{%extends 'base.html'%}
{%load static%}


{%block content%}
<form action="" method="get">
  {{forms.as_p}}
  <button type="submit">Search</button>
</form>
{%for post in posts%}
<div class="card" style="width: 18rem;">
  {%if post.image%}
  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  {%else%}
  <img src="{% static 'img.png' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rate}}</p>
    <ul class="list-group list-group-flush">
        {% for tag in post.tags.all %}
            <li class="list-group-flush">{{ tag.name }}</li>
        {%endfor%}
    </ul>
    <p class="card-text">{{post.created_at}}</p>
    <a href="/post/{{post.id}}/" class="btn btn-primary">Go to post</a>
  </div>
</div>
{%endfor%}
<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
  {%for page in max_pages%}
  {%if request.GET%}
  <a class="btn btn-primary" href="{{request.get.full_path}}?page={{page}}">{{page}}</a>
  {%else%}
  <a class="btn btn-primary" href="{{request.get.full_path}}?page={{page}}">{{page}}</a>
  {%endif%}
  {%endfor%}
</div>
{%endblock%}
